.form1 {
    background-color: yellowgreen;
    padding: 10px;
    width: 400px;
    padding: 20px;
    border-radius: 4px;
}
.form1 input[type=text],[type=tel],[type=datetime-local] {
    margin: 5px;
    padding: 12px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
} 
.form1 textarea{
    margin: 5px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.box-radio{
    border: 1px solid #78a718;
    border-radius: 4px;
    padding: 10px 5px;
    margin: 10px;
}